name: hackathon-mcp

services:
  php-mcp:
    image: webdevops/php-nginx:8.4
    platform: linux/amd64
    restart: unless-stopped
    working_dir: /app
    volumes:
      - ./:/app
    ports:
      - "8080:80"
    networks:
      - default

networks:
  default:
    driver: bridge

